# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# 忽略所有 .pt 文件
*.pt

# 忽略源数据集，但保留目录结构
datasets/*/*
!datasets/*/.gitkeep

# 忽略处理后数据集，但保留目录结构
preprocessed_datasets/*/*
!preprocessed_datasets/*/.gitkeep

# 忽略训练输出，但保留目录结构
outputs/*/*
!outputs/*/.gitkeep

# 忽略测试输出，但保留目录结构
test_results/*
!test_results/.gitkeep

# 忽略模型，但保留目录结构
models/*
!models/.gitkeep
