# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# 忽略所有 .pt 文件
*.pt

# 忽略源数据集
dataset/dentalai_dataset
# 但保留目录结构
!dataset/dentalai_dataset/.gitkeep

# 忽略处理后数据集
preprocessed_dataset/yolov8
# 但保留目录结构
!preprocessed_dataset/yolov8/.gitkeep

# 忽略模型
models/yolov8
# 但保留目录结构
!models/yolov8/.gitkeep

# 忽略训练输出
outputs/yolov8
# 但保留目录结构
!outputs/yolov8/.gitkeep
