# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Ultralytics & YOLO specific
# 忽略所有 .pt 文件，但 models 目录下的除外
*.pt
!models/*.pt

# 忽略训练输出
outputs/
runs/

# Datasets
# 忽略数据集文件夹下的所有内容
# 为了保留空目录结构，请在每个需要保留的空目录下手动创建一个 .gitkeep 文件
# 例如: dataset/dentalai_dataset/.gitkeep
dataset/
preprocessed_dataset/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# models
models/